name: Deploy Linux Build

on:
  push:
    tags:
    - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET 6
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 6.0.x
    - name: Build Linux app
      run: |
        cd src/Camelot
        dotnet publish -c Release -r linux-x64 -p:PublishSingleFile=true -p:PublishReadyToRun=true --self-contained=true
    - name: Archive Artifact
      run: |
        cd src/Camelot/bin/Release/netcoreapp3.1/linux-x64/publish
        tar -czvf CamelotLinux.tar.gz camelot camelot.pdb
    - name: Upload Release Asset
      id: upload-release-asset 
      uses: svenstaro/upload-release-action@v2
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        tag: ${{ github.ref }}
        file: ./src/Camelot/bin/Release/netcoreapp3.1/linux-x64/publish/CamelotLinux.tar.gz
        asset_name: CamelotLinuxSingleExe.tar.gz
